mixin eventInfo(ev, lang)
  if lang === 'py'
    pre.
      self.teamSize = #{ev.teamSize}

      if self.isWinner():
        prize = #[span(title="Using a getter") self.prize]
        self.receive(prize)

  else if lang === 'cpp'
    pre.
      unsigned int teamSize = #{ev.teamSize};

      if (isWinner(team)) {
        Prize prize = getPrize(team);
        sendPrize(team, prize);
      }
  else if lang === 'js'
    pre.
      const teamSize = #{ev.teamSize};

      if (team.isWinner()) {
        const prize = team.getPrize();
        team.receive(prize);
      }

  else if lang === 'sql'
    pre.
      SELECT `team` AS `winner`
      FROM `SCORES`
      WHERE `event` = 'select_star'
      ORDER BY `score` DESC
      LIMIT 1;
