.splash-content
  align-items: center
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding: 40px
  text-align: center
  text-shadow: 1px 1px 0 #fff
  opacity: 1
  transition: opacity 0.5s $anim-cubic
  z-index: 50

  .title
    font-weight: 900
    text-transform: uppercase
    font-size: 24px
    font-family: $font-bold
    letter-spacing: 5px

    @media only screen and (min-width: 641px)
      font-size: 36px

  .text
    font-size: 16px
    font-weight: 500
    margin: 20px auto 30px
    max-width: 700px
    text-shadow: none

    @media only screen and (min-width: 641px)
      font-size: 24px
      margin: 40px auto 60px

.content-nav
  display: block
  width: 100%
  font-family: $font-bold
  letter-spacing: 1px

  li
    text-transform: uppercase
    margin-bottom: 5px

    a
      font-weight: 900
      display: inline-block

    &:nth-child(1) a
      transform: rotate(-1deg)
      font-size: 2.5rem !important

    &:nth-child(2) a
      transform: rotate(2deg)
      font-size: 2.2rem !important
      color: $color-bl

    &:nth-child(3) a
      transform: rotate(-2deg)
      font-size: 2rem !important
      color: $color-br

  li:nth-child(n+2) a
    transition: transform 0.2s

    &:hover
      transform: scale(1.05)
      text-decoration: underline
