@import url('https://fonts.googleapis.com/css?family=Exo+2|Russo+One')

$font-primary: 'Exo 2', sans-serif
$font-bold: 'Russo One', sans-serif

$color-border-tl: #eeb81d
$color-border-bl: #0b83c6
$color-border-tr: #d4499a
$color-border-br: #1db250
