$font-primary: "DejaVu Sans Mono", "Fira Mono", monospace
$font-bold: "Russo One", "Arial Black", sans-serif

$color-tl: #eeb81d
$color-bl: #0b83c6
$color-tr: #d4499a
$color-br: #1db250

$anim-cubic: cubic-bezier(0.58, 0.3, 0.005, 1)
