- const script = process.env.NODE_ENV === 'production' ? assets['bundle.js'] : '/assets/js/bundle.js';

footer
  nav
    ul
      li
        a(href='/sankalan/contact') Contact
      li
        a(href='/sankalan/privacy-policy') Privacy Policy
      li
        a(href='/sankalan/dashboard') Dashboard
      li.fb
        a(href="https://facebook.com" title="Find us on Facebook")
          img(src="/assets/images/fb-icon.svg", alt="FB")

  .copyright
    p Copyright © 2018. Made with ❤ by the #[a(href='/sankalan/team') Developer Team].
    p Computer Science Society (DUCSS),  #[br]Dept. of Computer Science, University of Delhi.

script(type="application/javascript", src=script)
