- const script = process.env.NODE_ENV === 'production' ? assets['bundle.js'] : '/assets/js/bundle.js';

footer
  nav
    ul
      li
        a(class="xhr" href='/sankalan/contact/') Contact
      li
        a(class="xhr" href='/sankalan/terms/') Terms
      li
        a(class="xhr" href='/sankalan/dashboard/') Dashboard
      li.social
        a(href="https://facebook.com" title="Find us on Facebook")
          img(src="/assets/images/fb-icon.svg", alt="FB")
        | &nbsp;
        a(href="https://instagram.com/" title="Find us on Instagram")
          img(src="/assets/images/instagram-icon.png", alt="Instagram")

  .copyright
    p Copyright © 2018. Made with ❤ by
      a(href='https://github.com/sidvishnoi')
        span(style="white-space: nowrap")  Sid Vishnoi.
    p Meet the #[a(class="xhr" href='/sankalan/team/') Sankalan Team].
    p Delhi University Computer Science Society (DUCSS)

script(type="application/javascript", src=script)
