header.site-header
  a(class="logo xhr" href='/sankalan/' data-id='header')
    h1 Sankalan
  a(class='menu-toggle xhr' href='/sankalan/' data-id='menu-toggle') Menu
  nav
    include _nav
    +Nav('header')
