ul
  li.nav-item.tl
    a(href="/sankalan/about") About
  li.nav-item.bl
    a(href="/sankalan/events") Events
  li.nav-item.br
    a(href="/sankalan/venue") Venue
  li.nav-item.tr
    a(href="/sankalan/sponsors") Sponsors
