mixin Nav(context)
  ul
    li.nav-item.tl
      a(href="/sankalan/2018/about/" class="xhr" data-id=`nav-${context}-about`) About
    li.nav-item.bl
      a(href="/sankalan/2018/events/" class="xhr" data-id=`nav-${context}-events`) Events
    li.nav-item.tr
      a(href="/sankalan/2018/sponsors/" class="xhr" data-id=`nav-${context}-sponsors`) Sponsors
    li.nav-item.br
      a(href="/sankalan/2018/faq/" class="xhr" data-id=`nav-${context}-faq`) FAQ
