ul
  li.nav-item.tl
    a(href="/sankalan/about/" class="xhr") About
  li.nav-item.bl
    a(href="/sankalan/events/" class="xhr") Events
  li.nav-item.tr
    a(href="/sankalan/sponsors/" class="xhr") Sponsors
  li.nav-item.br
    a(href="/sankalan/faq/" class="xhr") FAQ
