mixin Nav(context)
  ul
    li.nav-item.tl
      a(href="/sankalan/about/" class="xhr" data-id=`nav-${context}-about`) About
    li.nav-item.bl
      a(href="/sankalan/events/" class="xhr" data-id=`nav-${context}-events`) Events
    li.nav-item.tr
      a(href="/sankalan/sponsors/" class="xhr" data-id=`nav-${context}-sponsors`) Sponsors
    li.nav-item.br
      a(href="/sankalan/faq/" class="xhr" data-id=`nav-${context}-faq`) FAQ
