html
  head
    include _head
  body(class={"is-front-page": page.slug === ''})
    include _header
    #content.site-content
      include _splash
      nav.nav
        .nav-container
          include _nav
          +Nav('splash')
      .content-wrapper
        #main.main-content !{content}
    .pattern-background
    .loader
    canvas#canvas.bg-scene
    include _footer
