.banner
  .banner-content
    h1.banner-subtitle #{page.title}
    h2.banner-title What is it?
    p Sankalan is the annual tech fest of Dept Of Computer Science, University of Delhi (DUCS).
.content
  .section.bg-white.about
    p
      | Sankalan, the annual technical festival of Department of Computer Science is the largest of its kind in northern India.
      | It was conceived in 2005 with the aim of encouraging technology enthusiasts to showcase their intelligence and inventiveness through a wide array of technical and non technical events that promise to educate and inspire.
    p
      | Over the years, Sankalan has grown to be a widely anticipated event that witnesses massive participation of young minds from leading institutions.
      | The fest blends a plethora of events including coding, quizzes, gaming, debates and a lot more offering something for each and everyone.
      | It is entirely organized by the DUCS student body and serves as a perfect launch-pad for leading scientific minds and influential thinkers.
      | So this March, get set and be prepared to celebrate technology with Sankalan’ 2018.
    p
      strong When is it? #[br]
      | Saturday, March 10th, 2018
      | -
      | Sunday, March 11th, 2018

    p
      strong Where is it?#[br]
      | Coordinates: { #[code 28°41'17.2"N 77°12'25.7"E] }#[br]
      | Department of Computer Science,#[br]
      | Faculty of Mathematical Sciences,#[br]
      | New Academic Block,#[br]
      | University of Delhi.#[br]
      | #[a(href="https://goo.gl/maps/YqMFB3uxy9m", target="_blank") Get directions] on Google Maps.

    p
      strong For Events:#[br]
      | See the #[a(href="/sankalan/events/" class="xhr") events page].


    p
      strong For Sponsors:#[br]
      | See the #[a(href="/sankalan/sponsors/" class="xhr") sponsors page].

    p
      strong To know about Sankalan and its dev team:#[br]
      | See the #[a(href="/sankalan/team/" class="xhr") team page].

    p
      strong For cat photos:#[br]
      | See the #[a(href="https://www.google.com/search?q=nyan+cat&tbm=isch&sa=X" target="_blank") cat page?]

    p
      strong Follow us:#[br]
      | Join us on our #[a(href="http://facebook.com/DUCS.Sankalan", target="_blank") Facebook page] or
      | Follow us on #[a(href="https://www.instagram.com/sankalan.ducs/", target="_blank") Instagram]
