.banner
  .banner-content
    h1.banner-subtitle #{page.title}
    h2.banner-title Who we are?
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nisi ut aliquip ex ea commodo consequat.
.content
  .bg-white.full-height
    p hello
