.banner
  .banner-content
    h1.banner-subtitle #{page.title}
    h2.banner-title What is it?
    p Sankalan is the annual tech fest of Dept Of Computer Science, University of Delhi (DUCS).
.content
  .section.bg-white.about
    p Sankalan, the annual technical festival of Department of Computer Science is the largest of its kind in northern India. It was conceived in 2005 with the aim of encouraging technology enthusiasts to showcase their intelligence and inventiveness through a wide array of technical and non technical events that promise to educate and inspire.
    p Over the years, Sankalan has grown to be a widely anticipated event that witnesses massive participation of young minds from leading institutions. The fest blends a plethora of events including coding, quizzes, gaming, debates and a lot more offering something for each and everyone. It is entirely organized by the DUCS student body and serves as a perfect launch-pad for leading scientific minds and influential thinkers. So this February, get set and be prepared to celebrate technology with Sankalan’2018.
    p Join us on our #[a(href="http://facebook.com/DUCS.Sankalan", target="_blank") Facebook page]
