include _mixins/events

- const liveEvents = Object.keys(events).filter(k => events[k].islive && !events[k].isover);
- const restEvents = Object.keys(events).filter(k => !events[k].islive && !events[k].isover);
- const overEvents = Object.keys(events).filter(k => !events[k].islive && events[k].isover);

.banner
  .banner-content
    h1.banner-subtitle #{page.title}
    h2.banner-title Something for everyone!
.content
  div
    .section
      each e in liveEvents
        +events(e)
      each e in restEvents
        +events(e)
      each e in overEvents
        +events(e)
