include _mixins/events

- const $ = Object.keys(events);

- const liveEvents = $.filter(k => events[k].islive && !events[k].isover);
- const restEvents = $.filter(k => !events[k].islive && !events[k].isover);
- const overEvents = $.filter(k => !events[k].islive && events[k].isover);

- const numNonTech = $.filter(k => events[k].isnontech).length;
- const numTech = $.length - numNonTech;

.banner
  .banner-content
    h1.banner-subtitle #{page.title}
    h2.banner-title Something for everyone!
    p We have #{numTech} technical events as well as #{numNonTech} non-technical events.
.content
  div
    .section
      each e in liveEvents
        +events(e)
      each e in restEvents
        +events(e)
      each e in overEvents
        +events(e)
