mixin section(heading)
  .section.module.auto
    div
      p
        strong #{heading}
      if block
        block

.banner
  .banner-content
    h2.banner-title FAQ
.content
  +section('What is Sankalan?')
    p Sankalan is the annual technical festival of Department of Computer Science, University of Delhi. The fest blends a plethora of events including coding, quizzes, gaming, debates and a lot more offering something for each and everyone. It is entirely organised by the DUCS student body. To know more about it, please follow the link #[a(href="/sankalan/about/") https://www.ducs.in/sankalan/about/]

  +section('When is Sankalan 2018 scheduled to be held?')
    p Sankalan 2018 will be organized in Department of Computer Science, University of Delhi on 10th March 2018 and 11th March2018.

  +section('What is Sankalan actually for? Kids? Undergrads? Post Grads? Adults?')
    p Sankalan has something in it for everyone. It includes both technical and non-technical events. The fest is open for undergrads and postgrads only.

  +section('Can I get a list of all the events to be held at Sankalan 2018?')
    p Yes, you can find the list of all the events at #[a(href="/sankalan/events/") https://www.ducs.in/sankalan/events/] with detailed description.

  +section('Will non-Computer Science students be able to participate in the non-tech events?')
    p Yes, you are most welcome to participate in non-tech events. Non-tech events are open to all.

  +section('Do I need to do an online registration?')
    p Yes, you can get registered online to participate in the events of Sankalan 2018. Please carry the e-ticket generated after online registration on the day of Sankalan. In case you require hospitality from our side you need to mail us before hand at #[a(href="mailto:sankalan@ducs.in") sankalan@ducs.in].

  +section('How does one get to Department of Computer Science?')
    p Get directions on
      |  #[a(href="https://goo.gl/maps/YqMFB3uxy9m", target="_blank" rel="noopener") Google Map]

  +section('Can I leave and re-enter the fest?')
    p Yes, you can leave and re-enter the festival if you have the ID card (ticket) provided to you from the #[a(href="https://dashboard.ducs.in/sankalan/") registration portal].

  +section('I have a question that was not answered here. What do I do?')
    p You can drop your queries at
      |  #[a(href="mailto:sankalan@ducs.in") sankalan@ducs.in]
      |  Or call at
      |  #[a(href="tel:9990395650") +91-9990395650]
      |  /
      |  #[a(href="tel:7376125490") +91-7376125490]
