mixin section(heading)
  .section.module.auto
    div
      p
        strong #{heading}
      if block
        block

.banner
  .banner-content
    h2.banner-title FAQ
.content
  +section('What is Sankalan?')
    p Sankalan is the annual technical festival of Department of Computer Science, University of Delhi. The fest blends a plethora of events including coding, quizzes, gaming, debates and a lot more offering something for each and everyone. It is entirely organised by the DUCS student body. To know more about it, please see #[a.xhr(href="/sankalan/2018/about/") https://csdu.github.io/sankalan/2018/about/]

  +section('When is Sankalan 2018 scheduled to be held?')
    p Sankalan 2018 will be organized in Department of Computer Science, University of Delhi on April 7th, 2018 and April 8th, 2018. Some events will be taking place earlier also. See events page for details.

  +section('What is Sankalan actually for? Kids? Undergrads? Post Grads? Adults?')
    p Sankalan has something in it for everyone. It includes both technical and non-technical events. The fest is open to undergraduates and postgraduates only.

  +section('Can I get a list of all the events to be held at Sankalan 2018?')
    p Yes, you can find the list of all the events at #[a.xhr(href="/sankalan/2018/events/") https://csdu.github.io/sankalan/2018/events/] with detailed description.

  +section('Will non-Computer Science students be able to participate in the non-tech events?')
    p Yes, you are most welcome to participate in non-tech events. Non-tech events are open to all. Even if you are not a CS student, you can try.

  +section('Do I need to do an online registration?')
    p Yes, you need to get registered online in order to participate in the events of Sankalan 2018. Please carry the e-ticket generated after #[a(href="https://dashboard.ducs.in/sankalan/2018/register") online registration] on the day of Sankalan. In case you require hospitality from our side, please contact us before hand.

  +section('How does one get to Department of Computer Science?')
    p Get directions on
      |  #[a(href="https://goo.gl/maps/YqMFB3uxy9m", target="_blank" rel="noopener") Google Maps].
    p If you're coming from distance, reaching GTB Nagar Metro Station or Delhi University Metro Station and then taking an e-rickshaw might be a good option for you.
    p If you've trouble finding the venue location, you may look for following landmarks: Daulat Ram College, Shri Ram College or Faculty of Mathematical Sciences/Social Sciences.

  +section('What\'s new in Sankalan this year?')
    p We introduced so many new things at Sankalan 2018 that it deserves its own page. See #[a.xhr(href="/sankalan/2018/whats-new/") What's new in Sankalan 2018].

  +section('Can I leave and re-enter the fest?')
    p Yes, you can leave and re-enter the festival if you have the ID card (ticket) provided to you from the #[a(href="https://dashboard.ducs.in/sankalan/2018/") registration portal].

  +section('I have a question that was not answered here. What do I do?')
    p You can drop your queries at
      |  #[a(href="mailto:sankalan@ducs.in") sankalan@ducs.in]
    p Or call at
      |  #[a(href="tel:9990395650") +91-9990395650]
      |  /
      |  #[a(href="tel:7376125490") +91-7376125490]
    p You can also send a message on our Facebook page:
      |  #[a(href="https://facebook.com/DUCS.Sankalan" target="_blank" rel="nofollow") https://facebook.com/DUCS.Sankalan]
    p We have also provided event specific details and contacts on their respective pages.
