.banner
  .banner-content
    h2.banner-title &nbsp;
.content
  div
    .section.bg-black
      h2 Registration links will be activated soon

      p Please see our Facebook page for updates
      a.button(href='https://www.facebook.com/DUCS.Sankalan/' target="_blank") fb.com/DUCS.Sankalan
