.banner
  .banner-content
    h2.banner-title &nbsp;
.content
  div
    .section.bg-black
      h2 Registration links are now active!
      p Visit the Sankalan Dashboard link below
      a.button(href='http://dashboard.ducs.in/sankalan/register/' data-id="FB-register") Sankalan Dashboard

      p Registration will be open till March 10th, 2018.
