mixin section(heading)
  .section.module.auto
    div
      h3 #{heading}
      if block
        block

.banner
  .banner-content
    h1.banner-subtitle Cool new nerd stuff
    h2.banner-title #{page.title}
.content
  +section('New Events')
    p We introduced some new events this year in Sankalan 2018 like:
    br
    p
      strong Blind Coding:
      |  No, it isn't related to Blind Dating. In this event, we will give you simpler problems to solve. But you're forbidden to look at your code! Can you run it in one attempt? Let's see how much confident are you in your skills!
      | See event page at: #[a.xhr(href="/sankalan/events/blind-coding/", target="_blank") https://ducs.in/sankalan/events/blind-coding/]
    br
    p
      strong Quriosity:
      |  In this event, we will give you a knowledgeable prime-time. Every night at 10pm, before Sankalan, we will post a simple question or a puzzle for you to answer. The player who tops the leaderboard at the end wins the game.
      | See event page at: #[a.xhr(href="/sankalan/events/quriosity/", target="_blank") https://ducs.in/sankalan/events/quriosity/]
    br
    p
      strong Beg Borrow Steal:
      |  In this fun game you can win exciting prizes by begging, borrowing or stealing things. Each participant will be given an item in each round, they have to either beg it, borrow it or steal it.
      | See event page at: #[a.xhr(href="/sankalan/events/beg-borrow-steal/", target="_blank") https://ducs.in/sankalan/events/beg-borrow-steal/]
    br
    p
      strong Cypher-o-more
      |  An event for crypto heads! (Not limited to crypto-currencies).
      | See event page at: #[a.xhr(href="/sankalan/events/cypher-o-more/", target="_blank") https://ducs.in/sankalan/events/cypher-o-more/]
    br
    p
      strong Pictionary:
      |  In this fun-learn event, you will be given a word from any domain, and will be required to explain that, by drawing anything related to the same on the board, to the audience in a time span of 2 minutes.
      | See event page at: #[a.xhr(href="/sankalan/events/pictionary/", target="_blank") https://ducs.in/sankalan/events/pictionary/]
    br
    p There are some more fun and short events which you can explore at the Sankalan itself.
    br
    p
      | We merged Java Juggling and Code-a-thon to a single event, Code-a-thon, which is now language independent.
      | See event page at: #[a.xhr(href="/sankalan/events/code-a-thon/", target="_blank") https://ducs.in/sankalan/events/code-a-thon/]
    br
    p The problems in each event, are of course, new.
  +section('Registration process')
    p We created a custom #[a(href="http://dashboard.ducs.in/sankalan") registration portal] for our Sankalan 2018. No, we are not using Google Forms (nothing wrong in that). We call our portal the "Dashboard".
    p We made registration process really simple, for you, and for us (not necessarily for our developers).
    br
    p In almost every fest, you register using a form. Most of times, they ask you for very useless and repetitive info. Our dashboard will ask you for only to required details, to the point. We'll even fill some info about you if we can get it ;)
    br
    p Generally, you don't know which of your friends will be teaming up with you. So we'll let you create the teams at our registration desk real quick. You just need to register yourself online through our registration portal.
    br
    p And the best part, we'll give you an e-ticket. Just keep in in your phone/laptop and show it at our registration desks so that we can do the magic. We won't waste your time in writing details about you in spreadsheets or paper for each event! Real Smooth.
    br
    p And you can see your progress/stats and leaderboards in the portal.
    br
    p If you haven't registered for Sankalan yet, what are you waiting for? Register yourself at #[a(href="http://dashboard.ducs.in/sankalan/register") http://dashboard.ducs.in/sankalan/register] and tell your friends also!

  +section('The Website')
    p We created this website: #[strong ducs.in] as a single place to host all events and info related to our department.
    p The future students can use this as a platform for future events and publications. And we'll pass on the knowledge.
    p The website is totally student managed and is not endorsed by any official regulatory commities (that is, our department or university).
    p For you, the important part is the Sankalan section, most likely.
    br
    p The website is using #[strong https], and is hosted with AWS (to be precise, see #[a(href="/uses/") https://www.ducs.in/uses/] for technical details about the website)
    br
    p The embrace #[strong open source] development, we have decided to publish all the source code of website (including the Dashboard, Sankalan website, main website; excluding security related stuff) on Github.
    p Source code for:
    p &nbsp;&ndash; Sankalan 2018 website:&nbsp;
      a(href="https://github.com/sidvishnoi/sankalan-2018", target="_blank") https://github.com/sidvishnoi/sankalan-2018
    p &nbsp;&ndash; Srijan 2018 website:&nbsp;
      a(href="https://github.com/sidvishnoi/srijan-2018", target="_blank") https://github.com/sidvishnoi/srijan-2018
    p &nbsp;&ndash; Dashboard:&nbsp;
      a(href="https://github.com/sidvishnoi/dashboard.ducs.in", target="_blank") https://github.com/sidvishnoi/dashboard.ducs.in


  
