.credits
  margin: 2rem -1rem
  display: flex
  flex-wrap: wrap

  .credit
    margin: 1rem
    display: flex
    padding: 5px
    flex-direction: column
    align-items: center
    .avatar-container
      position: relative
      margin-bottom: 1rem
      width: 180px
      height: 180px
      .social-icon
        position: absolute
        right: 10px
        bottom: 10px
        width: 25px
        height: 25px
    .avatar
      width: 100%
      border-radius: 9999px
  .credit-type
    text-transform: uppercase
    font-weight: 500
    
  .social-links
    display: flex
    flex-wrap: wrap
    margin: 0 -.5rem
    justify-content: center
    align-items: items-center
    .link
      margin: .5rem
      display: inline-block
      height: 1.2rem
      color: #fff
      .facebook:hover
        color: #49659f
      .twitter:hover
        color: #3290f7
      svg
        height: 100%